/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
    --header-height: 5rem;
    --font-medium: 500;
}

/*===== Colores =====*/
:root {
    --first-color: #f45a0f;
    --dark-color: #212429;
    --light-color: #fff;
    --first-text-color: #f45a0f;
    --dark-text-color: #212429;
    --light-text-color: #fff;

    --transparent: transparent;
}

/*===== Font and typography =====*/
:root {
    --body-font: "Roboto", sans-serif;

    --big-font-size: 5.5rem;
    --h2-font-size: 2.25rem;

    --normal-font-size: 0.738rem;
    --small-font-size: 0.813rem;

    @media screen and (min-width: 768px) {
        --big-font-size: 5.5rem;
        --h2-font-size: 4rem;
        --logo-font-size: 1.25rem;

        --normal-font-size: 0.8rem;
        --small-font-size: 0.875rem;
    }
}

/*===== Margins =====*/
:root {
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}

/*===== z index =====*/
:root {
    --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--dark-text-color);
    line-height: 1.6;
}

h1,
h2,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--first-text-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

//////!
.center_align {
    margin: 0 auto;
    text-align: center;
}

/*===== Extra Items ===== */
.button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    // text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--first-color);
        border-radius: 10rem;
        z-index: -2;
    }

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#f45a0f, 15%);
        transition: all 0.3s;
        border-radius: 10rem;
        z-index: -1;
    }

    &:hover {
        color: #fff;

        &:before {
            width: 100%;
        }
    }
}

.button-2 {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: var(--first-color);
    // text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--transparent);
        border-radius: 10rem;
        z-index: -2;
    }

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: var(--first-color);
        transition: all 0.3s;
        border-radius: 10rem;
        z-index: -1;
    }

    &:hover {
        color: #fff;

        &:before {
            width: 100%;
        }
    }
}

.contrast__text__color {
    color: var(--first-text-color);
    font-weight: bold;
}

//

/*===== CLASS CSS ===== */
.section {
    padding: 3rem 0;

    &-title {
        position: relative;
        font-size: var(--h2-font-size);
        color: var(--dark-color);
        margin: var(--mb-4) 0;
        //!
        text-align: center;

        &::after {
            position: absolute;
            content: "";
            width: 32px;
            height: 0.1rem;
            left: 0;
            right: 0;
            margin: auto;
            top: 2rem;
            // background-color: var(--first-color);
        }
    }
}

/*===== LAYOUT =====*/
.home-bd-grid {
    max-width: 1024px;
    // display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.shapes-wrapper {
    background-image: url("/assets/img/home-shapes.webp");
    background-size: cover;
}

/*===== Header =====*/

.l-header {
    width: 100%;
    // position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--transparent);
}

/*===== NAV =====*/
.nav {
    height: var(--header-height);
    display: flex;
    align-items: center;

    &__logo {
        font-size: var(--logo-font-size);
    }

    &__menu {
        @media screen and (max-width: 768px) {
            position: fixed;
            top: var(--header-height);
            right: -100%;
            width: 80%;
            height: 100%;
            padding: 2rem;
            background: rgba(255, 255, 255, 0.3);
            transition: 0.5s;
            backdrop-filter: blur(10px);
        }
    }

    &__item {
        margin-bottom: var(--mb-4);
    }

    &__link {
        position: relative;
        color: var(--dark-color);

        &:hover {
            color: var(--first-color);
        }
    }

    &__logo {
        color: var(--dark-text-color);
    }

    &__toggle {
        color: var(--dark-color);
        font-size: 1.5rem;
        cursor: pointer;
    }
}

/*=== Show menu ===*/
.show {
    right: 0;
}

/*Active menu*/
.active::after {
    position: absolute;
    content: "";
    width: 100%;
    // height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

/*===== HOME =====*/

.home {
    // position: relative;
    //   background-color: var(--light-color);

    // top: -1rem;
    // right: 8rem;

    // overflow: hidden;

    &__container {
        height: calc(100vh - var(--header-height));
        // row-gap: 5rem;
        // overflow: auto;

        // justify-items: center;
        // row-gap: 2rem;
        // text-align: center;
    }

    &__img {
        display: inline-block;

        // display: flex;
        // justify-content: center;
        // padding-top: 1rem;
        // width: 120px;
        // height: 120px;
        // overflow: hidden;
        // top: -20px;

        & img {
            width: 100%;
        }
    }



    &__title {
        display: inline-block;

        align-self: flex-end;
        font-size: var(--big-font-size);
        color: var(--dark-text-color);
        line-height: 0.8;
        display: inline;

        & span {
            // text-shadow: 0 20px 25px rgba(0, 0, 0, 0.5);
        }
    }

    &__subtitle {
        position: relative;
        display: inline;
        bottom: 6rem;
        right: 2rem;


    }

    &__under-title {
        position: relative;
        display: inline;
        bottom: 4.8rem;
        right: 6.8rem;
    }

    &__scroll {
        align-self: flex-end;
        padding-bottom: var(--mb-4);

        &-link {
            //   writing-mode: vertical-lr;
            transform: rotate(-180deg);
            color: var(--first-text-color);
        }
    }

    // &__img {
    //     // position: absolute;
    //     // right: 0;
    //     // bottom: 0;
    //     width: 295px;
    //     background: chocolate;
    // }
}

/* ===== ABOUT =====*/
.about {
    &__container {
        justify-items: center;
        row-gap: 2rem;
        text-align: center;
    }

    &__img {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        width: 120px;
        height: 120px;
        // background-color: var(--first-color);
        // border-radius: 50%;
        overflow: hidden;

        & img {
            width: 100px;
        }
    }

    &__subtitle {
        font-size: var(--h2-font-size);
        color: var(--dark-text-color);
        margin-bottom: var(--mb-1);
    }

    &__text {
        margin-bottom: var(--mb-4);
    }

    &__profession {
        display: block;
        margin-bottom: var(--mb-4);
    }

    &__social {
        &-icon {
            font-size: 1.4rem;
            margin: 0 var(--mb-1);

            &:hover {
                color: var(--first-color);
            }
        }
    }
}

/* ===== SKILLS =====*/
.skills {
    &__text {
        text-align: center;
        width: 295px;
    }

    &__container {
        row-gap: 2rem;
    }

    &__subtitle {
        color: var(--first-color);
        margin-bottom: var(--mb-3);
    }

    &__name {
        display: inline-block;
        font-size: var(--small-font-size);
        margin-right: var(--mb-2);
        margin-bottom: var(--mb-3);
        padding: 0.25rem 0.5rem;
        background-color: var(--light-color);
        border-radius: 0.25rem;

        &:hover {
            background-color: var(--first-color);
            color: var(--light-color);
        }
    }

    &__img {
        & img {
            border-radius: 0.5rem;
        }
    }
}

/*//! ===== SKILLS extras =====*/

.wrapper {
    padding: 1.5em;
    max-width: 1200px;
    margin: 0 auto;
}

.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    justify-content: space-around;
    margin-top: 2em;

    li {
        margin-bottom: 1.5em;
    }

    strong {
        font-size: 1.4em;
    }

    span {
        display: block;
        text-transform: uppercase;
        font-size: 0.75em;
    }
}

/* ===== PORTFOLIO =====*/
.portfolio {
    background-color: var(--light-color);

    &__container {
        justify-items: center;
        row-gap: 2rem;
    }

    &__img {
        position: relative;
        overflow: hidden;

        & img {
            border-radius: 0.5rem;
        }

        &:hover .portfolio__link {
            bottom: 0;
        }
    }

    &__link {
        position: absolute;
        bottom: -100%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 0.5rem;
        cursor: pointer;
        backdrop-filter: blur(10px);
        transition: 0.3s;

        &-name {
            color: var(--dark-color);
        }
    }
}

/* ===== CONTACT =====*/
.contact {
    &__container-img {
        width: 200px;
        height: 200px;
        background: var(--light-color);
        border-radius: 50%;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 50%;
    }

    // &__button {
    //     display: block;
    //     background-color: var(--first-color);
    //     color: var(--light-color);
    //     padding: 0.75rem 2.5rem;
    //     margin-left: auto;
    //     border-radius: 0.5rem;
    //     border: none;
    //     outline: none;
    //     font-size: var(--normal-font-size);
    //     cursor: pointer;
    // }
}

/* ===== FOOTER=====*/
.footer {
    background-color: var(--dark-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;

    &__title {
        font-size: 3rem;
        margin-bottom: var(--mb-4);
    }

    &__social {
        margin-bottom: var(--mb-4);
    }

    &__icon {
        font-size: 1.5rem;
        color: #fff;
        margin: 0 var(--mb-2);
    }
}

// .footer{
//     background-color: var(--first-color);

//     &__container{
//         row-gap: 2rem;
//     }
//     &__title{
//         font-size: var(--normal-font-size);
//         color: var(--light-color);
//         margin-bottom: var(--mb-2);
//     }
//     &__link{
//         padding: .25rem 0;
//         color: var(--light-text-color);

//         &:hover{
//             color: var(--first-color);
//         }
//     }
//     &__social{
//         font-size: 1.4rem;
//         margin-right: var(--mb-1);

//         &:hover{
//             color: var(--first-color);
//         }
//     }
// }

/* ===== MEDIA QUERIES=====*/

/* ===== Small screen 320px =====*/
@media screen and (max-width: 768px) {

    .nav {
        justify-content: space-between;

    }
}

/* home image */
@media screen and (max-width: 320px) {
    // .home__img {
    //     width: 230px;
    //     background-image: "assets/img/home-hero.webp";
    // }
}

/* ===== Medium screen 768 =====*/
//burger menu
@media screen and(min-width: 768px) {
    body {
        margin: 0;
    }

    .section {
        padding-top: 4rem;

        &-title {
            margin-bottom: 3rem;

            &::after {
                width: 64px;
                top: 3rem;
            }
        }
    }

    /* ===== Nav =====*/
    .nav {
        height: calc(var(--header-height) + 1rem);

        &__list {
            display: flex;
        }

        &__item {
            margin-left: var(--mb-4);
            margin-bottom: 0;
        }

        &__toggle {
            display: none;
        }

        &__link {
            color: var(--dark-text-color);

            &:hover {
                color: var(--first-text-color);
            }
        }
    }

    .active::after {
        background-color: var(--first-text-color);
    }

    /* ===== Home =====*/
    .home {
        &__container {
            height: 100vh;
            // grid-template-rows: 1.7fr 1fr;
            // row-gap: 0;
        }

        &__img {
            // width: 524px;
            // right: 10%;
            width: 500px;

        }

        //!
        &__text {
            position: relative;
            display: inline-block;
            width: 50%;
            bottom: 50px;
        }
    }

    /* ===== About =====*/

    .about {
        &__container {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            text-align: initial;
            padding: 4rem 0;
        }

        &__img {
            width: 600px;
            height: 600px;

            & img {
                width: 545px;
                height: 600px;

            }
        }
    }

    /* ===== Skills =====*/

    .skills {
        &__container {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }
    }

    /* ===== Portfolio =====*/

    .portfolio {
        &__container {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            column-gap: 2rem;
        }
    }

    /* ===== Contact =====*/

    .contact {
        &__container {
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
        }

        &__form {
            width: 380px;
        }
    }

    .footer {
        &__container {
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
        }
    }
}

/* ===== Big Screen =====*/

@media screen and(min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }

    .home-bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}

/* For tall screens on mobiles ands desktop*/
@media screen and (min-height: 721px) {
    .home {
        &__container {
            height: 640px;
        }

        &__img {
            width: 500px;
            right: 24%;
        }
    }
}