/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 5rem;
  --font-medium: 500;
}

/*===== Colores =====*/
:root {
  --first-color: #f45a0f;
  --dark-color: #212429;
  --light-color: #fff;
  --first-text-color: #f45a0f;
  --dark-text-color: #212429;
  --light-text-color: #fff;
  --transparent: transparent;
}

/*===== Font and typography =====*/
:root {
  --body-font: "Roboto", sans-serif;
  --big-font-size: 3.25rem;
  --h2-font-size: 2.25rem;
  --normal-font-size: 0.738rem;
  --small-font-size: 0.813rem;
}
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 5.5rem;
    --h2-font-size: 4rem;
    --logo-font-size: 1.25rem;
    --normal-font-size: 0.8rem;
    --small-font-size: 0.875rem;
  }
}

/*===== Margins =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}

/*===== z index =====*/
:root {
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--dark-text-color);
  line-height: 1.6;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--first-text-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== Extra Items ===== */
.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--first-color);
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #af3f08;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}

.button-2 {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: var(--first-color);
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button-2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--transparent);
  border-radius: 10rem;
  z-index: -2;
}
.button-2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--first-color);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button-2:hover {
  color: #fff;
}
.button-2:hover:before {
  width: 100%;
}

.contrast__text__color {
  color: var(--first-text-color);
  font-weight: bold;
}

/*===== CLASS CSS ===== */
.section {
  padding: 3rem 0;
}
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--dark-color);
  margin: var(--mb-4) 0;
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 32px;
  height: 0.1rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.shapes-wrapper {
  background-image: url("/assets/img/home-shapes.webp");
  background-size: cover;
}

/*===== Header =====*/
.l-header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--transparent);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
}
.nav__logo {
  font-size: var(--logo-font-size);
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.3);
    transition: 0.5s;
    backdrop-filter: blur(10px);
  }
}
.nav__item {
  margin-bottom: var(--mb-4);
}
.nav__link {
  position: relative;
  color: var(--dark-color);
}
.nav__link:hover {
  color: var(--first-color);
}
.nav__logo {
  color: var(--dark-text-color);
}
.nav__toggle {
  color: var(--dark-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*===== HOME =====*/
.home {
  position: relative;
  top: -1rem;
  right: 8rem;
  overflow: hidden;
}
.home__container {
  height: calc(100vh - var(--header-height));
  row-gap: 5rem;
  overflow: auto;
}
.home__title {
  align-self: flex-end;
  font-size: var(--big-font-size);
  color: var(--dark-text-color);
  line-height: 0.8;
}
.home__scroll {
  align-self: flex-end;
  padding-bottom: var(--mb-4);
}
.home__scroll-link {
  transform: rotate(-180deg);
  color: var(--first-text-color);
}
.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
}

/* ===== ABOUT =====*/
.about__container {
  justify-items: center;
  row-gap: 2rem;
  text-align: center;
}
.about__img {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  width: 120px;
  height: 120px;
  overflow: hidden;
}
.about__img img {
  width: 100px;
}
.about__subtitle {
  font-size: var(--h2-font-size);
  color: var(--dark-text-color);
  margin-bottom: var(--mb-1);
}
.about__text {
  margin-bottom: var(--mb-4);
}
.about__profession {
  display: block;
  margin-bottom: var(--mb-4);
}
.about__social-icon {
  font-size: 1.4rem;
  margin: 0 var(--mb-1);
}
.about__social-icon:hover {
  color: var(--first-color);
}

/* ===== SKILLS =====*/
.skills__text {
  text-align: center;
  width: 295px;
}
.skills__container {
  row-gap: 2rem;
}
.skills__subtitle {
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}
.skills__name {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-right: var(--mb-2);
  margin-bottom: var(--mb-3);
  padding: 0.25rem 0.5rem;
  background-color: var(--light-color);
  border-radius: 0.25rem;
}
.skills__name:hover {
  background-color: var(--first-color);
  color: var(--light-color);
}
.skills__img img {
  border-radius: 0.5rem;
}

/*//! ===== SKILLS extras =====*/
.wrapper {
  padding: 1.5em;
  max-width: 1200px;
  margin: 0 auto;
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  justify-content: space-around;
  margin-top: 2em;
}
.stats li {
  margin-bottom: 1.5em;
}
.stats strong {
  font-size: 1.4em;
}
.stats span {
  display: block;
  text-transform: uppercase;
  font-size: 0.75em;
}

/* ===== PORTFOLIO =====*/
.portfolio {
  background-color: var(--light-color);
}
.portfolio__container {
  justify-items: center;
  row-gap: 2rem;
}
.portfolio__img {
  position: relative;
  overflow: hidden;
}
.portfolio__img img {
  border-radius: 0.5rem;
}
.portfolio__img:hover .portfolio__link {
  bottom: 0;
}
.portfolio__link {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  cursor: pointer;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}
.portfolio__link-name {
  color: var(--dark-color);
}

/* ===== CONTACT =====*/
.contact__container {
  row-gap: 2rem;
}
.contact__subtitle {
  font-size: var(--normal-font-size);
  color: var(--first-color);
}
.contact__text {
  display: inline-block;
  margin-bottom: var(--mb-2);
}
.contact__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}
.contact__input {
  width: 100%;
  padding: 0.8rem;
  outline: none;
  border: 1.5px solid var(--dark-color);
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
}
.contact__button {
  display: block;
  background-color: var(--first-color);
  color: var(--light-color);
  padding: 0.75rem 2.5rem;
  margin-left: auto;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
}

/* ===== FOOTER=====*/
.footer {
  background-color: var(--dark-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title {
  font-size: 3rem;
  margin-bottom: var(--mb-4);
}
.footer__social {
  margin-bottom: var(--mb-4);
}
.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

/* ===== MEDIA QUERIES=====*/
/* For small devices */
/* home image */
@media screen and (max-width: 320px) {
  .home__img {
    width: 230px;
    background-image: "assets/img/home-hero.webp";
  }
}
/* ===== Medium screen =====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 4rem;
  }
  .section-title {
    margin-bottom: 3rem;
  }
  .section-title::after {
    width: 64px;
    top: 3rem;
  }

  /* ===== Nav =====*/
  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-left: var(--mb-4);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--dark-text-color);
  }
  .nav__link:hover {
    color: var(--light-color);
  }

  .active::after {
    background-color: var(--first-text-color);
  }

  /* ===== Home =====*/
  .home__container {
    height: 100vh;
    grid-template-rows: 1.7fr 1fr;
    row-gap: 0;
  }
  .home__img {
    width: 600px;
    height: 600px;
  }

  /* ===== About =====*/
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
    padding: 4rem 0;
  }
  .about__img {
    width: 600px;
    height: 600px;
  }
  .about__img img {
    width: 545px;
  }

  /* ===== Skills =====*/
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  /* ===== Portfolio =====*/
  .portfolio__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
  }

  /* ===== Contact =====*/
  .contact__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .contact__form {
    width: 380px;
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}
/* ===== Big Screen =====*/
@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
  .home__container {
    height: 640px;
  }
  .home__img {
    width: 500px;
    right: 24%;
  }
}

/*# sourceMappingURL=styles.css.map */
